{{ define "main" }}
<article>
    
    <h1>Betrieb</h1>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {{ range where .Data.Pages "Type" "betrieb" }}

  
          <div class="card shadow-xl ganymed-bg-card">
            {{ $image := .Resources.GetMatch "*.jpg" }}
            {{ with $image }}
              {{ with .Fill "600x352" }}
              <div>
                  <img class="not-prose h-auto max-w-full rounded-lg" src="{{ .RelPermalink }}" >
              </div>
              {{ end }}
            {{ end }}
            <div class="card-body">
                <h2 class="card-title">{{ .Title }}</h2>
                <p>{{ .Params.function }} </p>
                <div class="card-actions justify-end">
                  <a class="btn btn-secondary" href="{{ .RelPermalink }}">Mehr über {{ .Params.firstName }}</a>
                </div>
            </div>
           
        </div>
        {{ end }}
      </div>

    <h1 class="mt-6">Vorstand</h1>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {{ range where .Data.Pages "Type" "vorstand" }}
   
    <div class="card shadow-xl ganymed-bg-card">
      {{ $image := .Resources.GetMatch "*.jpg" }}
      {{ with $image }}
        {{ with .Fill "600x352" }}
        <div>
            <img class="not-prose h-auto max-w-full rounded-lg" src="{{ .RelPermalink }}" >
        </div>
        {{ end }}
      {{ end }}
      <div class="card-body">
          <h2 class="card-title">{{ .Title }}</h2>
          <p>{{ .Params.function }} </p>
            <div class="card-actions justify-end">
            <a class="btn btn-secondary" href="{{ .RelPermalink }}">Mehr über {{ .Params.firstName }}</a>
          </div>
      </div>
      </div>



    {{ end }}
    </div>
</article>
{{ end }}