{{ define "main" }}
<article
    class="justify-self-center mx-auto px-6 mb-16 sm:px-4 md:px-0 prose dark:prose-invert prose-slate lg:prose-lg hover:prose-a:text-sky-500">
    <h1>{{ .Title }}</h1>
    <p>Debug: VEREIN/TEAM </p>
    {{ .Content }}

    <article class="uk-comment">
        <header class="uk-comment-header">
          <div class="uk-comment-avatar">
            <img src="" alt="" />
          </div>
          <div class="uk-comment-title"></div>
          <ul class="uk-comment-meta uk-subnav"></ul>
        </header>
        <div class="uk-comment-body"></div>
      </article>

 
    
    <h2>Betrieb</h2>
    {{ range where .Data.Pages "Type" "betrieb" }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
	{{ .Title }}
    {{ end }}

    <h2>Vorstand</h2>
    {{ range where .Data.Pages "Type" "vorstand" }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
	{{ .Title }}
    {{ end }}
</article>
{{ end }}