{{ define "main" }}
<article class="flex flex-row justify-center">
    <div>
        <h1 class="mb-1">{{ .Title }}</h1>
        <h4 class="mt-1 opacity-45">{{ .Params.education }}</h4>
        
        <div class="text-lg max-w-prose">
        {{ range .Resources.ByType "image" }}
            <div>
               <img class="h-auto w-full max-w-full rounded-lg" src="{{ .RelPermalink }}" >
            </div>
        {{ end }}
        
            {{ .Content }}
        </div>      
    </div>    
</article>
{{ end }}