{{ define "main" }}
<article class="prose lg:prose-xl">

    <h1>{{ .Title }}</h1>

    {{ .Content }}
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {{ range $page := .Pages }}

        <div class="card shadow-xl ganymed-bg-card">
            {{ $image := .Resources.GetMatch "*.jpg" }}
            {{ with $image }}
                {{ with .Resize "600x" }}
                <div>
                    <img class="not-prose h-auto max-w-full rounded-lg" src="{{ .RelPermalink }}" >
                </div>
                {{ end }}
            {{ end }}
        <div class="card-body">
            <h2 class="card-title">{{ $page.Title }}</h2>
            <p>{{ $page.Params.publishedIn }} </p>
            <div class="card-actions justify-end">

            {{ $pdf := .Resources.GetMatch "*.pdf" }}
                {{ with $pdf }}
                    
                    <a class="btn btn-secondary" href="{{ .RelPermalink }}">Artikel lesen (pdf)</a>
                    
                {{ end }}
            </div>
        </div>
        </div>


    {{ end }}
    </div>
</article>
{{ end }}