<header class="fixed top-0 w-full z-10">
    {{/* CSS functionality for menu toggle */}}
    <style type="text/css">
        input#nav-toggle:checked~label#show-button {
            display: none;
        }

        input#nav-toggle:checked~label#hide-button {
            display: flex;
        }

        input#nav-toggle:checked~#nav-menu {
            display: block;
        }
    </style>



<!-- flex-no-wrap fixed top-0 z-10 flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4 -->
    <div class="md:container md:mx-auto bg-primary shadow-md shadow-black/10 rounded-md">
        <div class="navbar text-primary-content z-10 ">
            <div class="navbar-start">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <a href="/">
                            {{ $image := resources.Get "images/ganymed-avatar.png" }}
                            {{ with $image }}
                                <img src="{{ $image.RelPermalink }}" class="uk-align-center" >
                            {{ end }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-center ">
                <a href="/"><p>Ganymed - Das Fohlenprojekt</p></a>
            </div>
        
    
            <div class="navbar-end mr-5">
                <div class="dropdown dropdown-end XXX-lg:hidden">
                    <div tabindex="0" role="button" class="btn btn-ghost ">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h8m-8 6h16" />
                      </svg>
                    </div>
                    <ul
                      tabindex="0"
                      class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                      <li><a href="/verein">Verein</a></li>
                      <li>
                          <ul class="bg-base-100 rounded-t-none p-2">
                            <li><a href="/verein/ziele">Ziele</a></li>
                            <li><a href="/verein/team">Team</a></li>
                            <li><a href="/verein/medien">Medienberichte</a></li>
                            <li><a href="/verein/partner">Partner</a></li>
                          </ul>
                      </li>
                      <li><a href="/pferde">Pferde</a></li>
                      <li><a href="/pferde">Kontakt</a></li>
                    </ul>
            </div>
        </div>

        
        
        <div class="breadcrumbs text-sm ml-4 bg-secondary-100 hidden">
            <ul>
                <li><a href="/">Home</a></li>
                {{ $len := len .Ancestors.Reverse }}
                {{ range $index, $element := .Ancestors.Reverse }}
                {{ if gt $index 0 }}
                <li><a href="{{ $element.RelPermalink }}">{{ $element.Title }}</a></li>
                {{ end }}
                {{ end }}
                {{ if gt $len 0 }}
                <li><span>{{ .Page.Title }}</span></li>
                {{ end }}
            </ul>
        </div>
    </div>
</header>