<header class="">
    {{/* CSS functionality for menu toggle */}}
    <style type="text/css">
        input#nav-toggle:checked~label#show-button {
            display: none;
        }

        input#nav-toggle:checked~label#hide-button {
            display: flex;
        }

        input#nav-toggle:checked~#nav-menu {
            display: block;
        }
    </style>

<div class="navbar bg-secondary text-primary-content">
    <div class="navbar-start">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
            <img src="/images/ganymed-avatar.png" alt="" />
        </div>
      </div>
    </div>    
    
    <div class="navbar-end lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li class="uk-active"><a href="/verein">Verein</a></li>
            <li><a href="/pferde">Pferde</a></li>
        </ul>
      </div>
  </div>

  <div class="breadcrumbs text-sm">
    <ul>
        <li><a href="/">Home</a></li>
        {{ $len := len .Ancestors.Reverse }}
        {{ range $index, $element := .Ancestors.Reverse }}
        {{ if gt $index 0 }}
        <li><a href="{{ $element.RelPermalink }}">{{ $element.Title }}</a></li>
        {{ end }}
        {{ end }}
        {{ if gt $len 0 }}
        <li><span>{{ .Page.Title }}</span></li>
        {{ end }}
    </ul>
  </div>
</header>